* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Quicksand, sans-serif;}

* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
  }

/* hr{
  height: 1px;
  background-color: #7f5af0;
  margin-top: 50px;
  width: 1080px;
} */

.main{
  background-color: #16161a;
}
.month {
  padding: 50px 25px;
  width: 100%;
  background: #16161a;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color:#fffffe;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 0;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
   margin: 0; 
  padding: 10px 0;
  background-color: #16161a;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #fffffe;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #16161a;
  margin: 0;
  margin-left: 50px;
  
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: left;
  margin-bottom: 5px;
  padding: 5px;
  font-size:20px;
  color: #fffffe;
  border: 1px solid #7f5af0;
  max-width: 250px;
  height: 130px;
  max-height: 130px;
  /*box-shadow: 0px 3px 6px #7f5af0;*/
  opacity: 1;
}

/*.days li .active {
  padding: 5px;
  background: #16161a;
  color:#16161a !important
}*\

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

li{
  transition: all 0.5s;
  cursor: pointer;
}

li:hover{
  -webkit-filter: drop-shadow(15px 10px 5px #7f5af0));
  filter: drop-shadow(15px 10px 5px #7f5af0);
}




.modal {
  margin: 0px;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 300px; /* Location of the box */
  padding-left: 500px;
  padding-right: 500px;
  left: 0px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

h2{
  font-family: Niveau Grotesk,Niveau Grotesk;
  font-size: 23px;
  margin-top: 10px;
  margin-bottom: 3px;
}

/* Modal Content */
.modal-content {
  background-color: #16161a;
  margin: auto;
  padding: 20px;
  border: 1px solid #7f5af0;
  width: 100%;
  color: #fffffe;
  height: 400px;
}

/* The Close Button */
.close {
  color: #fffffe;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fffffe;
  text-decoration: none;
  cursor: pointer;
}

.NomeEve{
  font-size: 15px;
}
.NomeDoEvento{
  margin-top: ;
 background-color: #7f5af0;
 border-radius: 1px;
 border-color: #010101;
 width: 400px;
 height: 35px;
 font-family: Niveau Grotesk,Niveau Grotesk;
 color: #010101;
 padding-left: 5px;
 font-size: large;
}
.TipoEve{
  margin-top: 15px;
  font-size: 15px;
}
.Select{
  margin-top: 3px;
  background-color: #7f5af0;
  border-radius: 1px;
  border-color: #010101;
  border: red;
  width: 400px;
  height: 35px;
  cursor: pointer;
  font-family: Niveau Grotesk,Niveau ,BOLD;
  color: #010101;
  padding-left: 5px;
  font-size: large;
  -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
  
}


textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 
.Descri{
  margin-top: 15px;
  font-size: 20px;
  text-align: start;
}
.Descrição{
  display: flex;
  flex-wrap: wrap;
  f font-family: Niveau Grotesk,Niveau Grotesk;
  font-size: 16px;
  height: 100px;
  width: 400px;
  border-radius: 1px;
  background-color: #7f5af0;
  border-color: #010101;
  overflow-y: hidden;
  resize: none;
  
  }

.Salvar{
  font-family: Niveau Grotesk,Niveau Grotesk;
  font-size: 25px;
  border-radius: 1px;
  background-color: #7f5af0;
  color: #fffffe;
  height: 40px;
  width: 120px;
  text-align: center;
  
}
.botao{
  margin-top: -40px ;
  margin-left: 450px;
}
.Cancelar{
  font-family: Niveau Grotesk,Niveau Grotesk;
  font-size: 25px;
  border-radius: 1px;
  background-color: #7f5af0;
  color: #fffffe;
  height: 40px;
  width: 120px;
  margin-left: 8px;
}

.p1{
  margin-top: 5px;
  font-size: 17px;
  text-align: center;
  font-family: Quicksand,Bold;
  background-color: #72757e;
  border-radius: 1px;
  color: #010101;
}

.p2{
  margin-top: 5px;
  font-size: 17px;
  text-align: center;
  font-family: Quicksand,Bold;
  background-color: #2cb67d;
  border-radius: 1px;
  color: #010101;
}

.p2{
  margin-top: 5px;
  font-size: 17px;
  text-align: center;
  font-family: Quicksand,Bold;
  background-color: #2cb67d;
  border-radius: 1px;
  color: #010101;
}

.p3{
  margin-top: 5px;
  font-size: 17px;
  text-align: center;
  font-family: Quicksand,Bold;
  background-color: #7f5af0;
  border-radius: 1px;
  color: #010101;
}

.TituloModal{
  font-family: Niveau Grotesk,Niveau Grotesk;
  text-align: center;
  font-size: 25px;
  letter-spacing: 8px;
  padding: 5px;
  margin-bottom: 5px;
}

.LinhaModal{
  
  height: 1px;
  background-color:#7f5af0;
}

</style>

