* {
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    margin: 0;
}


.container-fluid {
    background-color: #339cf7;
}

.containerBackground {
    width: 100%;
}

.nav-item a {
    color: white;
}

.nav-item a:hover {
    color: rgb(243, 243, 243);
}

.profilebutton .btn {
    background-color: #2786da;
    color: white;
}

.profilebutton .btn:hover {
    background-color: #1c70b9;
}
