    body{
      margin: 0%;
      padding: 0%;
      font-family: "Quicksand", sans-serif;
    }

    .nome{
      width: 320px;
      height: 60px;
      border-radius: 3px;
      font-size: 10px;
      font-family: Niveau Grotesk,Niveau Grotesk;
      text-align: center;
      color: #fffffe;
      background-color: #242629 ;
      border-color: #16161a;
      border: 0px;
      padding: 5px;
      font-size: 20px;
    }

    .nome::placeholder{
      color: #fffffe;
      opacity: 1;
      font-size: 20px;
      font-family: Niveau Grotesk,Niveau Grotesk;
      letter-spacing: 2px;
    }
    
    .senha{
      width: 320px;
      height: 60px;
      border-radius: 3px;
      font-size: 20px;
      font-family: Niveau Grotesk,Niveau Grotesk;
      text-align: center;
      color: #fffffe;
      background-color: #242629 ;
      border-color: #16161a;
      border: 0px;
      padding: 5px;
      font-size: 20px;
    } 

    .senha::placeholder{
      color: #fffffe;
      opacity: 1;
      font-size: 20px;
      font-family: Niveau Grotesk,Niveau Grotesk;
      letter-spacing: 2px;
    }

     .email{
    width: 320px;
    height: 60px;
    border-radius: 3px;
    font-size: 10px;
    font-family: Niveau Grotesk,Niveau Grotesk;
    text-align: center;
    color: #fffffe;
    background-color: #242629 ;
    border-color: #16161a;
    border: 0px;
    padding: 5px;
    font-size: 20px;
    } 
    
    .email::placeholder{
      color: #fffffe;
      opacity: 1;
      font-size: 20px;
      font-family: Niveau Grotesk,Niveau Grotesk;
      letter-spacing: 2px;
    }
    
     .registrar{
      width: 320px;
      height: 60px;
      border-radius: 3px;
      font-size: 10px;
      font-family: Niveau Grotesk,Niveau Grotesk;
      text-align: center;
      color: #fffffe;
      background-color: #7f5af0 ;
      border-color: #16161a;
      border: 0px;
      padding: 5px;
      font-size: 20px;
      }

      .div-box{ 
        width: 320px;
        height: 60px;
        border-radius: 3px;
        font-size: 20px;
        font-family: Niveau Grotesk,Niveau Grotesk;
        text-align: center;
        color: #fffffe;
        background-color: #242629;
        border-color: #16161a;
        border: 0px;
        margin-bottom: 10px;
       }

    .background {
      display: flex;
      justify-content: center;
      margin-top: 190px;
    }

    .date{
      width: 320px;
      height: 60px;
      border-radius: 3px;
      font-size: 20px;
      font-family: Niveau Grotesk,Niveau Grotesk;
      text-align: center;
      color: #fffffe;
      background-color: #242629 ;
      border-color: #16161a;
      border: 0px;
      padding: 5px;
      font-size: 20px;
    }
