<!DOCTYPE html>
<html lang="pt-br">

<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,  shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="../../public/assets/css/calendario.css" />
<script src="../../public/assets/js/jquery-3.5.1.min.js"></script>

<body class="main">
    <div class="month">

        <ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
            <li>
                JANEIRO<br>
                <span style="font: size 18px;">2021</span>
                <!-- <hr> -->
            </li>
        </ul>
    </div>

    <ul class="weekdays">
        <li>D</li>
        <li>S</li>
        <li>T</li>
        <li>Q</li>
        <li>Q</li>
        <li>S</li>
        <li>S</li>
    </ul>

    <!-- <ul name="lista" class="days" id="myBtn" onclick='AbrirModal()'> -->
    <ul name="lista" class="days" id="myBtn">
        <li id="1"> 1 <div>
                <p class="p1">nome do evento</p>
            </div>
        </li>
        <li id="2"> 2 <div>
                <p class="p1">nome do evento</p </div>
        </li>
        <li id="3"> 3 <div>
                <p class="p1">nome do evento</p>
            </div>
        </li>
        <li id="4"> 4 <div>
                <p class="p1">nome do evento</p>
            </div>
        </li>
        <li id="5"> 5 <div>
                <p class="p1">nome do evento</p>
            </div>
        </li>
        <li id="6"> 6 <div>
                <p class="p1">nome do evento</p>
            </div>
        </li>
        <li id="7"> 7 <div>
                <p class="p1">nome do evento</p>
            </div>
        </li>
        <li >8 <div>
                <p class="p1">nome do evento</p>
            </div>
        </li>
        <li>9 <div>
                <p class="p1">nome do evento</p>
            </div>
        </li>
        <li>10 <div>
                <p class="p1">nome do evento</p>
            </div>
        </li>
        <li>11 <div>
                <p class="p1">nome do evento</p>
            </div>
        </li>
        <li>12 <div>
                <p class="p1">nome do evento</p>
            </div>
        </li>
        <li>13 <div>
                <p class="p1">nome do evento</p>
            </div>
        </li>
        <li>14 <div>
                <p class="p1">nome do evento</p>
            </div>
        </li>
        <li>15 <div>
                <p class="p2">nome do evento</p>
            </div>
        </li>
        <li>16 <div>
                <p class="p2">nome do evento</p>
            </div>
        </li>
        <li>17 <div>
                <p class="p2">nome do evento</p>
            </div>
        </li>
        <li>18 <div>
                <p class="p2">nome do evento</p>
            </div>
        </li>
        <li>19 <div>
                <p class="p2">nome do evento</p>
            </div>
        </li>
        <li>20 <div>
                <p class="p2">nome do evento</p>
            </div>
        </li>
        <li>21 <div>
                <p class="p2">nome do evento</p>
            </div>
        </li>
        <li>22 <div>
                <p class="p2">nome do evento</p>
            </div>
        </li>
        <li>23 <div>
                <p class="p2">nome do evento</p>
            </div>
        </li>
        <li>24 <div>
                <p class="p2">nome do evento</p>
            </div>
        </li>
        <li>25 <div>
                <p class="p2">nome do evento</p>
            </div>
        </li>
        <li>26 <div>
                <p class="p2">nome do evento</p>
            </div>
        </li>
        <li>27 <div>
                <p class="p3">nome do evento</p>
            </div>
        </li>
        <li>28 <div>
                <p class="p3">nome do evento</p>
            </div>
        </li>
        <li>29 <div>
                <p class="p3">nome do evento</p>
            </div>
        </li>
        <li>30 <div>
                <p class="p3">nome do evento</p>
            </div>
        </li>
        <li>31 <div>
                <p class="p3">nome do evento</p>
            </div>
        </li>
    </ul>

    <div id="myModal" class="modal" data-day="1">
        <div class="modal-content">
            <h2 class="TituloModal">CADASTRAR EVENTOS</h2>
            <hr class="LinhaModal">
            <span class="close">&times;</span>
            <div class="NomeEve">
                <h2 class="Nome">Nome do evento</h2>
                <input class="NomeDoEvento" type="text" id="name">
            </div>
            <div class="TipoEve">
                <h2> Tipo do evento </h2>
                <select name="select" class="Select" id="type">
                    <option value="valor1">Cinza</option>
                    <option value="valor2" selected>Verde</option>
                    <option value="valor3">Roxo</option>
                    <img src="../partials/" alt="">
                </select>
            </div>
            <div class="Descri">
                <h2>Descrição do evento</h2>
                <textarea class="Descrição" id="description"></textarea>
                <!-- <input class="Descrição" type="textarea"> -->
                <div class="botao">
                    <button type="button" id="salvar-modal" class="Salvar">Salvar</button>
                    <button type="button" id="close-modal" class="Cancelar">Cancelar</button>
                </div>
            </div>
        </div>

    </div>
    </div>




    <script>
        var daySelected = 0;

        $(document).ready(function () {
            $('span.close').click(function (e) {
                $("#myModal").hide();
            })

            $('#close-modal').click(function (e) {
                $("#myModal").hide();
            })

            $('#salvar-modal').click(function (e) {
                e.preventDefault()
                salvar();
            })

            $('li').click(function () {
                $("#myModal").show();

                daySelected = this.id
                console.log(daySelected)

                var qtd = $(this).children()
                var dia = console.log(this.id);
            });
        });

        const salvar = () => {
            var http = new XMLHttpRequest();
            var url = 'http://localhost:30/event';

            http.open('POST', url, true);
            http.setRequestHeader('Content-type', 'application/json');

            http.onreadystatechange = function () {
                if (http.readyState == 4 && http.status == 200) {
                    alert(http.responseText);
                }
            }

            http.send(JSON.stringify({ name: $("#name").val(), type: $("#type").val(), description: $("#description").val(), date: daySelected }));
        }




        // function AbrirModal() {
        //     var model = [];
        //     model = document.getElementsByName('lista');
        //     var i;

        //     for (i = 0; i <= model.length; i++) {

        //         var modal = document.getElementById("myModal");

        //         var btn = document.getElementById("myBtn");

        //         var span = document.getElementsByClassName("close")[0];

        //         btn.onclick = function () {
        //             modal.style.display = "block";
        //         }

        //         span.onclick = function () {
        //             modal.style.display = "none";
        //         }

        //         window.onclick = function (event) {
        //             if (event.target == modal) {
        //                 modal.style.display = "none";
        //             }
        //         }
        //     }
        // }
    </script>
</body>

</html>