<!DOCTYPE html>
<html lang="pt-br">

<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,  shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="../../public/assets/css/calendario.css" />

<body class="main">
    <div class="month">
        
        <ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
            <li>
                JANEIRO<br>
                <span style="font: size 18px;">2021</span>
                <!-- <hr> -->
            </li>
        </ul>
    </div>

    <ul class="weekdays">
        <li>D</li>
        <li>S</li>
        <li>T</li>
        <li>Q</li>
        <li>Q</li>
        <li>S</li>
        <li>S</li>
    </ul>

    <ul class="days">
        <li id="myBtn" onclick='AbrirModal()'> 1 </li>
        <li id="myBtn" onclick='AbrirModal()' >2</li>
        <li id="myBtn" onclick='AbrirModal()' >3</li>
        <li id="myBtn" onclick='AbrirModal()' >4</li>
        <li id="myBtn" onclick='AbrirModal()' >5</li>
        <li id="myBtn" onclick='AbrirModal()' >6</li>
        <li id="myBtn" onclick='AbrirModal()' >7</li>
        <li id="myBtn" onclick='AbrirModal()' >8</li>
        <li id="myBtn" onclick='AbrirModal()' >9</li>
        <li id="myBtn" onclick='AbrirModal()' >10</li>
        <li id="myBtn" onclick='AbrirModal()' >11</li>
        <li id="myBtn" onclick='AbrirModal()' >12</li>
        <li id="myBtn" onclick='AbrirModal()' >13</li>
        <li id="myBtn" onclick='AbrirModal()'>14</li>
        <li id="myBtn" onclick='AbrirModal()' >15</li>
        <li id="myBtn" onclick='AbrirModal()' >16</li>
        <li id="myBtn" onclick='AbrirModal()' >17</li>
        <li id="myBtn" onclick='AbrirModal()' >18</li>
        <li id="myBtn" onclick='AbrirModal()' >19</li>
        <li id="myBtn" onclick='AbrirModal()' >20</li>
        <li id="myBtn" onclick='AbrirModal()' >21</li>
        <li id="myBtn" onclick='AbrirModal()' >22</li>
        <li id="myBtn" onclick='AbrirModal()' >23</li>
        <li id="myBtn" onclick='AbrirModal()' >24</li>
        <li id="myBtn" onclick='AbrirModal()' >25</li>
        <li id="myBtn" onclick='AbrirModal()' >26</li>
        <li id="myBtn" onclick='AbrirModal()' >27</li>
        <li id="myBtn" onclick='AbrirModal()' >28</li>
        <li id="myBtn" onclick='AbrirModal()' >29</li>
        <li id="myBtn" onclick='AbrirModal()' >30</li>
        <li id="myBtn" onclick='AbrirModal()' >31</li>
    </ul>

    <div id="myModal" class="modal">
<div class="modal-content">
<span class="close">&times;</span>
<div class="NomeEve">
<h2 class="Nome">Nome do evento</h2>
<input class="NomeDoEvento" type="text">
</div>
<div class="TipoEve">
<h2> Tipo do evento </h2>
<select name="select" class="Select">
<option value="valor1">Vermelho</option>
<option value="valor2" selected>Amarelo</option>
<option value="valor3">Azul</option>
</select>
</div>
<div class="Descri">
<h3>Descrição do evento</h3>
<input class="Descrição" type="text">
<div class="botao">
<button class="Salvar">Salvar</button>
<button class="Cancelar">Cancelar</button>
</div>
</div>
</div>
<!-- <div class="Informações">
    <h2>Conteudo Cadastrado</h2>
    <div class="Quadro">

    </div> -->

</div>
    </div>




    <script>
        function AbrirModal() {

            var modal = document.getElementById("myModal");

            var btn = document.getElementById("myBtn");

            var span = document.getElementsByClassName("close")[0];

            btn.onclick = function () {
                modal.style.display = "block";
            }

            span.onclick = function () {
                modal.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }
    </script>
</body>

</html>