<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,  shrink-to-fit=no">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <header class="menu">
    <div>
      <div>
        <a href="#">
          <img class="logo" src="../img/logo.png" alt="logo">
        </a>
      </div>
    </div>
  </header>
  <div class="background">
    <form class="form" action="">
      <div>
        <input class="usuario" type="email" placeholder="Username">
      </div>
      <div>
        <input class="senha" type="password" placeholder="Password">
      </div>
      <div>
        <button class="entrar" type="submit"> ENTRAR </button>
      </div>
      <div>
        <button class="registrar " onclick="window.location.href = '#'">CADASTRAR-SE</button>
      </div>
    </form>
  </div>
</body>

</html>